$items: 4;
$sidebar-width: 240px;

main,
#sidebar {
	transition: all 0.5s ease-in-out;
}

main {
	position: relative;
	height: 100%;
	width: 100%;
}

#sidebar {
	height: 100%;
	width: $sidebar-width;
	position: fixed;
	top: 64px;
	right: 0;
	transform: translateX($sidebar-width);
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 2;
	backdrop-filter: blur(12px);
	padding-top: 22px;
}

#sidebar.open {
	transform: translateX(0);
}

#sidebar .mdc-button {
	text-align: center;
	opacity: 0;
	width: $sidebar-width;
	color: rgba(255, 255, 255, 0.85);
	text-decoration: none;
	font-size: 17px;
	font-weight: 500;
	width: $sidebar-width;
	display: block;
	padding: 0 14px;
	height: 54px;
	line-height: 54x;
	text-decoration: none;
	border-radius: 0;
}

#sidebar .github-sidebar {
	bottom: 64px;
}

#sidebar .github-sidebar .mdc-button {
	font-size: 12px;
	font-weight: 400;
}

// Setting delays for the nav items in open transition
@for $i from 0 through $items {
	#sidebar.open .mdc-button:nth-child(#{$i}) {
		$delay: (($items + 1) - $i) * 0.14s;
		transition: background-color 0.3s ease-in-out, opacity 0.66s ease $delay;
	}
}

#sidebar.open .mdc-button {
	opacity: 1;
}

#sidebar .mdc-button.active-route {
	background-color: rgba(0, 0, 0, 0.3);
}

body:not(.disable-hover) #sidebar .mdc-button:hover {
	background-color: rgba(0, 0, 0, 0.7);
}

.move-to-left {
	transform: translateX(-$sidebar-width);
}

#menu-icon-button {
	width: 48px;
	height: 48px;
	padding: 5px;
	margin-right: 8px;
	display: none;
}

#menu-button {
	position: relative;
	width: 38px;
	height: 38px;
	cursor: pointer;
	transition: all 0.5s ease-in-out;
	z-index: 5 !important;
	margin: 0;
}

#menu-button .ani {
	top: 18.5px;
	left: 5px;
}

#menu-button .ani,
#menu-button .ani:before,
#menu-button .ani:after {
	content: "";
	position: absolute;
	height: 3px;
	width: 28px;
	background: rgb(33, 33, 33);
	transition: all 0.5s ease-in-out;
}

#menu-button .ani:before,
#menu-button .ani:after {
	background: inherit;
}

#menu-button.menu-cross-s .ani:before {
	top: -8px;
	left: 0;
}

#menu-button.menu-cross-s .ani:after {
	top: 8px;
	left: 0;
}

#menu-button.menu-cross-s.animate .ani {
	width: 0;
}

#menu-button.menu-cross-s.animate .ani:before {
	top: 0;
	transform: rotate(45deg);
}

#menu-button.menu-cross-s.animate .ani:after {
	top: 0;
	transform: rotate(-45deg);
}

@media only screen and (max-width: 790px) {
	#menu-icon-button {
		display: block;
	}
}
